.cloud
.gitignore
.ios.conf
.ring_cache.pickle
.uuid
OZW_Log.txt
OZW_Log_Archive/
certs/
home-assistant.log
home-assistant_v2.db
known_devices.yaml
nest.conf
plex.conf
pyozw.sqlite
secrets.yaml
tts/
zigbee.db
zwcfg_*.xml
zwscene.xml
._*
.DS_Store
*.db-wal
*.db-shm
.homekit.state
